<div class="post-head">

<span class="post-title">
	
	<%= page.title|| __('Untitled') %>

</span>


<div class="post-info">
	<time>
	<span class="iconfont icon-date"></span>
    <%- date(page.date, "YYYY/MM/DD HH:mm:ss")%> 	
	</time>


	<% if(theme.leancloud.enable && theme.leancloud.app_id && theme.leancloud.app_key ) {%>
	<span class="post-visitor">
		<span class="iconfont icon-eye"></span>
		<span class="post-count" id="post-leancloud-count"></span>
	</span>
	<%}%>

</div>

</div>

