<div class="post-head">

<span class="post-title">
	
	<%= page.title|| __('Untitled') %>

</span>


<div class="post-time iconfont icon-date">
	<time>
    <%- date(page.date, "YYYY/MM/DD HH:mm:ss")%> 
	</time>
</div>


</div>

