<div class="post-head">

<div class="post-title">
	<h1>
	<%= page.title|| __('Untitled') %>
	<h1>
</div>


<div class="post-time iconfont icon-date">
	<time>
    <%- date(page.date, "YYYY/MM/DD hh:mm:ss")%> 
	</time>
</div>


</div>

