
 <nav class="bottom-nav">
     <% if (page.prev) { %>
      <div class="left">
        <a class="bottom-link" href="<%- url_for(page.prev.path) %>">  
           <lil class="li iconfont icon-left"></li>         
          <span class="bttom-link-title"><%= page.prev.title || '(no title)' %></span>
        </a>
      </div>
    <% } %>

    <% if (page.next) { %>
       <div class="right">
        <a  class="bottom-link" href="<%- url_for(page.next.path) %>">          
         <span class="bttom-link-title"><%= page.next.title || '(no title)' %></span>
          <li class="li iconfont icon-right"></li>
        </a>
        </div>
    <% } %>
</nav>  