<%- js('js/toc.js')%>

<div class="toc slideRIn">		
	<div class="toc-container">	

	<span class="contents iconfont icon-open" onclick="change()"> <%= __('Contents')%> </span>

	<ul class="toc-list"></ul>

	</div>
</div>

