<%- js('js/toc.js')%>

<div id="toc">	
	<a id="contents" class="iconfont icon-open toc-title" onclick="change()"> <%= __('Contents')%> </a>
	<div class="toc-container">	
	<ul class="toc-list ul"></ul>
	</div>
</div>

