<%- js('js/toc.js')%>

<div id="toc">	
	<h4><a id="contents" class="iconfont icon-open" onclick="change()"> <%= __('Contents')%> </a><h4>	
	<div class="toc-container">	
	<ul class="toc-list ul"></ul>
	</div>
</div>

