<section class="block fadeIn">

  <% var title %>

  <% if( is_tag()){ %>

    	<% title ="# "+ page.tag %>
    	<span  class="page-title"><%= title %></span>		
      	
      	<% page.posts.each(function (post) { %>    	
          <%- partial('_partial/article',{ post:post}) %>     
      	<% })%>
    	%>

    <%} else {%>	  

        <% title = __('Page.Tags')%>
        <span class="page-title"><%= title %></span>	

        <div class="tag slideDownMin">

          <%- tagcloud(site.tags,{
          	min_font:16,
          	max_font:16,    
          })%>

       </div>

  <%}%>

</section>
