<section class="block slideLIn">

  <% var title %>

  <% if( is_tag()){ %>

  	<% title ="# "+ page.tag %>
  	<h3><%= title %></h3>		
  	
	<% page.posts.each(function (post) { %>    	
    <%- partial('_partial/article',{ post:post}) %>     
	<% })%>

  	%>

  <%} else {%>	  

  <% title = __('Page.Tags')%>
  <h3><%= title %></h3>	

  <div class="tag">

  <%- tagcloud(site.tags,{
  	min_font:16,
  	max_font:16,    
  })%>

  </div>

  <%}%>

</section>
