
$block
  heigth auto
  margin 1.4em auto
  padding 1.4em .6em
  background $block-bgr
  border-radius 10px
.block
  @extend $block

$small-block
  heigth auto
  padding .9em
  background $block-bgr
  border-radius 10px

$tags
  padding .4em
  margin  .2em 0
  border 1px solid $border-clr 
  border-radius 999em
  display inline-block
 
$radius
  border-radius 10px	
$img_radius 
  border-radius 5px
 

//fadein and fadeout
@keyframes fadein
    from
      opacity 0
    to 
      opacity 1
@-webkit-keyframes fadein
    from
      opacity 0
    to 
      opacity 1       
@keyframes fadeout
    from
      opacity 1
    to 
      opacity 0
@-webkit-keyframes fadeout
    from
      opacity 1
    to 
      opacity 0
 
//slideUp and slideDown
@keyframes slideUp{
    0%{
    -webkit-transform:translateY(0)
    transform:translateY(0)
    }
   100%{
    -webkit-transform:translateY(-200px)
    transform:translateY(-200px)
   }
}
    

@-webkit-keyframes slideUp{
    0%{
    -webkit-transform:translateY(0)    
    }
   100%{
    -webkit-transform:translateY(-200px)
   }
}
@-webkit-keyframes slideDown{
    0%{
    -webkit-transform:translateY(-200px)    
  }
    100%{
    -webkit-transform:translateY(0)
  }
}   

.fadein 
  -webkit-animation-name: fadein
  -webkit-animation-duration 2s  
  -webkit-animation-iteration-count 1 
  -webkit-animation-delay 0s

.fadeout
  -webkit-animation-name: fadeout
  -webkit-animation-duration  2s  
  -webkit-animation-iteration-count 1 
  -webkit-animation-delay 0s
  

.slideDown
  -webkit-animation-fill-mode: forwards
  -webkit-animation-name: slideDown
  -webkit-animation-duration  1s  
  -webkit-animation-iteration-count 1 
  -webkit-animation-delay 0s

.slideUp
  -webkit-animation-fill-mode: forwards
  -webkit-animation-name: slideUp
  -webkit-animation-duration  1s  
  -webkit-animation-iteration-count 1 
  -webkit-animation-delay 0s