
$block
  heigth auto
  margin 1.4em auto
  padding 1.4em .6em
  background $block-bgr
  border-radius 10px
.block
  @extend $block

$small-block
  heigth auto
  padding .9em
  background $block-bgr
  border-radius 10px

$tags
  padding .4em
  margin  .2em 0
  border 1px solid $border-clr 
  border-radius 999em
  display inline-block
 
$radius
  border-radius 10px	
$img_radius 
  border-radius 5px
 

