$block
  heigth auto
  margin 1em 0
  padding  .6em
  background $block-bgr  
.block
  @extend $block


$tags
  padding .3em
  margin  .2em 0
  border 1px solid $border-clr 
  border-radius 5px
  display inline-block
  line-height 25px    
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1)
  box-shadow: 0 1px 1px rgba(0,0,0,.1)
  font-family: $tag-font
  &:hover
    opacity 1
    background rgba(255,255,255,.2)
    
$radius
  border-radius 10px	
$img_radius 
  border-radius 5px
 
$spread
   @media mq-normal       
      &::after  
        content " " 
        width 0
        height 2px
        background $hover-clr 
        position absolute
        top 99%
        left 50%   
        transition .2s 
      &:hover
        color $hover-clr         
      &:hover:after
        left 0%
        width 100%