
// Fonts

$font-size = 15px
$font =  'Helvetica','微软雅黑', 'sans serif' 
 
$post-title-font = '方正兰亭黑'
$page-title-font = 'Georgia','PingFang TC'
$time-font = 'Times New Roman'


$font-normal = 400
$font-blod  = 500

// Colors
//background
$bgr = #F5F6FA
$block-bgr = #fff

$line-clr =  #f0f0f0
$border-clr = #AAA

$hover-clr =  #0088cc 
$readmore-hover-clr = #0088cc	
$iconfont-hover-clr =#0077b3

$box-shadow-clr = #e0e0e0 

$red = #E24C38
$blue = #00aacc
$white = #fff
$gray = #bfbfbf
$black =#7f7f7f


//markdown
$blockquote-clr = #a6a6a6


//Layout
container-column = 12
main-column = 8
sidebar-column = 3


// Grids
column-width = 80px
gutter-width = 20px
columns = main-column + sidebar-column 


// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"

	