<div class="article-top">
    <div class="left article-top-title">
       <a href="<%- url_for(post.path) %>"><%= post.title || __('Untitled')%></a>         
     </div>

	<div class="right">		
        <span class="article-top-date"><%= date(post.date, "YYYY-MM-DD") %></span>
        <br/>	
	</div>	
</div>