<div class="article-top">
    
     <a class="article-top-title"  href="<%- url_for(post.path) %>"><%= post.title || __('Untitled')%></a>         
     

	 <time class="article-top-date"><%= date(post.date, "YYYY-MM-DD") %></time>       

</div>