.archive
	@extend $block
	clear both	

.archive-year
	font-size 1.2em
	clear both
	
.archive-item
	font-size 1em
	clear both
	overflow hidden
	margin 1em 1.8em
	&:hover
		margin-left 2.4em
		color $hover-clr

.archive-date
	font-size 1.0em
	
.archive-title
	margin-left 1.2em
	font-size 1.0em	
	&:hover		
		color $hover-clr
	


	