
.category-item	
	overflow hidden
	margin 2em
	
.category-name
	&:hover 
		margin-left 0.9em
.category-posts 
	display none
	li 
		display block
		margin 1em		
		&:hover
			margin-left 0.2em
	a
		padding-left .9em