.category-item	
	overflow hidden
	margin 2em
	&:before
		content "#"		
		color gray
		
.category-name
	padding-left .8em
	letter-spacing 1px
	&:hover 
		margin-left 0.3em
		color $blue
		
.category-posts 
	display none
	width 100%	
	margin 0
	padding 1rem 0
	padding-left 1.6rem
	
.category-post-item 	
	padding-left .4em
	display block
	margin 1em
	letter-spacing .5px		
	&:hover		
		color $blue
.category-post-item a
	margin-left 1rem
	&:hover	
		color $blue