 .header
  clear both 
  width 100%
  border-radius 10px 
  box-shadow 3px 0 3px 0 $box-shadow-clr
  z-index 888  
  opacity 0.8
.header-nav 
  width  58%
  margin  0 auto  
  height 70px  
  display flex
  display -webkit-flex
  align-items center
  justify-content space-between 
    
.header-logo   
    padding .5em  
    border-radius 999em
    opacity 1 
    color $black
    font-size 1.4em   
    &:visited,&:active
      color $black
    &:hover
      color $hover-clr
      border-bottom 2px solid $hover-clr
     
.header-menu
    height 100%
    display flex
    justify-content center
    align-items center
 
.header-menu-link  
    margin 0 .8em
    height 100%
    display inline-block  
    line-height 4.5em
    position relative 
    letter-spacing .5px
    &:visited,&:active
      color $black 
    @media mq-normal  
      &::before , &::after
       position absolute 
      &:hover
       color $hover-clr    
      &:hover::before 
        content "-"
        left -10px
      &:hover::after
        content "-"
        right -10px
//script
.header-static
  position static
  opacity 1
  background-color $bgr  
  border-radius 10px  
.header-fixed
  position fixed
  top 0
  left 0
  opacity 0.8
  background-color $white 
  transition .6   
.header-menu-active  
  border-bottom 2px solid $hover-clr
  &:visited,&:active
      color $hover-clr
   