 .header
  clear both 
  width 100%
  border-radius 10px 
  box-shadow 10px 0 10px 0 $box-shadow-clr
  z-index 888  
.header-nav 
  width  60%
  margin  0 auto  
  height 70px  
  display flex
  display -webkit-flex
  align-items center
  justify-content space-between 
    
.header-logo   
    padding .5em 
    border .1em solid $blue
    border-radius 999em
    opacity .9
    &:hover
      background $white
      border .1em solid $hover-clr 
.header-menu
    height 100%
    display flex
    justify-content center
    align-items center
 
.header-menu-link  
    margin 0 .8em
    height 100%
    display inline-block  
    line-height 4.5em
    position relative 
    opacity 0.9
    letter-spacing .5px
    @media mq-normal  
      &::before , &::after
       position absolute 
      &:hover
       color $hover-clr    
      &:hover::before 
        content "\5b"
        left -10px
      &:hover::after
        content "\5d"
        right -10px