//header
.header,.navheder
	width 100%
	overflow hidden
.info
	display block
	width 100%
#logo
	display block
	float left
.mobile
	float right
	clear both
	width 100%
.menu-link  
	font-size 1em
    margin-left .2em
    margin-right .2em
    padding-bottom .3em   
    
.container,#main
	clear both
	width 100%	    
	margin-top 1em
//sideber
#sidebar
	margin-top 1em
	clear both


//index
#post
	width 100%
	padding .3em	
.post-card,.top,.excerpt,.bottom
	width 100%
	padding .1em
	padding-bottom .2em
.top-title,.top-date
	padding .3em
//code
.post-content
	width 100%	
.highlight 
	width 100%

//gallery
.gallery-box,.gallery-brg,.gallery-img
	width 100%
//read-more
.read-more
	border none
//toc
.toc
	display none

    
  