.paginator
  margin 1em 0
.prev,.next,.page-number 
  padding .8em .4em
  margin .1em
  
.current
	color $hover-clr
.page-number,.prev,.next
	&:hover
		color $hover-clr
.prev,.next
  border 1px solid $gray
  border-radius 10px
  &:hover
		 border 1px solid $hover-clr
.prev 
  float left  
.next
  float right