
.post 
  margin 0 auto 
  overflow hidden  
.post-content   
  padding-top .4em
  margin 0 auto     
  

//post/head.ejs  
.post-head
  margin 2em 0
  padding-bottom .5em
  border-bottom 3px solid $line-clr 
.post-title
  font-size 1.8em
.post-time
  width 100%
  margin 2em .5em
  
.post-time  time
  font 1.2rem  $time-font
  font-style italic 
  opacity 0.5
  
.post-meta
   margin 2em .5em
   

// post/nav.ejs  
.bottom-nav
    margin 0 auto
    padding 2em 0
    font-size 1.2em   
    clear both
    border-bottom 3px solid $line-clr 
.bottom-link   
    font-size 1em
    &:hover
      color $hover-clr
.bottom-link-title
    font-size .9em
    overflow hidden     
// post/widgets.ejs
.bottom-widget
  padding 3em 0
  text-align center
.bottom-widget-title
  font-size 1em 
  margin-bottom 1em

  