// post
.post
  @extend $small-block  
  margin 0 auto 
  overflow hidden  
.post-content   
    margin 0 auto       
.post-title
    text-align center
    font-size 1.4em  

.post-meta
    padding-top 1.4em
    padding-bottom 0.8em 
    border-top 1px solid $gray    
.post-time
   border-bottom 1px solid $gray
   text-align center
  
// post/nav.ejs  
.bottom-nav
    margin 0 auto
    padding 2em 0
    font-size 1.2em   
    clear both
    border-bottom 1px solid $gray
.bottom-link   
    font-size 1em
    &:hover
      color $hover-clr
.bottom-link-title
    font-size .9em
    overflow hidden     
// post/widgets.ejs
.bottom-widget
  padding 3em 0
  text-align center
.bottom-widget-title
  font-size 1em 
  margin-bottom 1em
  