//widget
.widget 
	@extend $block	
	text-align center
.widget-title
	@extend $spread
	width auto	
	padding 1em 0
	display block	
	font-size 1.1em
	margin-bottom 1em
	position relative
	border-bottom 1px solid $line-clr
	color gray
	&:hover
		color $hover-clr 			

//pofile
.pofile
	padding 0.8em	
	width 100%
.avatar
	margin 0 auto
	padding 0 auto
	display block
	width 80%	
	border-radius 10px	
.location
	display block
	font-size 12px
	color gray		
.descrption
	color gray	
.social
	margin 1em 0
.count	
	overflow hidden	
	div
		text-align center
		width 50%
		float left
.count-item	
	display inline
	&:hover
		color $hover-clr

//recent post
.recent-post
	position relative 
	display block
	margin 0.8em 0
	padding 0.1em
	font-size 15px
	&:hover
		color $hover-clr 	
	

//categories
.categories-post
	@extend $radius
	clear both
	display block
	margin 0.1em 0.2em
	padding 0.2em
	overflow hidden
	font-size 15px		
.categories-post a	
	&:hover		
		color $hover-clr	
		padding-left .2em
.categories-count
	border-bottom .4px solid #848484
	padding .2em
	&:hover		
		color $hover-clr		
//tagcloud
.tag-item
	@extend $tags	
	border 1px solid $border-clr
	padding 0 10px
	margin-bottom 0.3em
	&:hover		
		color $hover-clr	
		border 1px solid $hover-clr 		
//link
.link-item
	font-size .8rem
	border-radius 10px		
.link-item a	
	position relative
	padding .6em 0
	@extend $spread
	&:hover
		color $hover-clr