// #sidebar
// 	border-left 1px solid $line-clr

.widget 
	@extend $block	
	text-align center
	padding-bottom 1em
	overflow hidden 
.widget-title
	width auto
	display block	
	font-size 1.1em
	margin-bottom 1em
	border-bottom 1px solid $line-clr
	color gray
	&:hover
		color $hover-clr 			

//pofile
#personal-card	
	text-align center
	padding 0.8em		
#descrption
	color gray	
#avatar
	display block
	margin 0 auto
	padding 0 auto
	width 80%
	border-radius 10px
#location
	display block
	font-size 12px
	color  gray	
//social
.social
	margin 1em 0
//count
#count	
	overflow hidden	
	div
		text-align center
		width 50%
		float left
.count-item	
	&:hover
		color $hover-clr			
				
//recent posts
.recent-posts-item
	@extend $radius
	display block
	margin 0.8em 0
	overflow hidden
	padding 0.1em
	font-size 16px
	&:hover
		color $hover-clr		
	

//categories
.categories-item
	@extend $radius
	clear both
	display block
	margin 0.1em 0.2em
	padding 0.2em
	overflow hidden
	font-size 16px		
.categories-item a	
	&:hover		
		color $hover-clr	
		padding-left .2em
.categories-count
	border 1px solid #848484
	border-radius 4px
	padding .2em
	&:hover		
		color $hover-clr	
	
	


//tag
.tag-item
	@extend $tags	
	border 1px solid $border-clr
	padding 0 10px	
	margin-bottom 0.3em
	&:hover		
		color $hover-clr	
		border 1px solid $hover-clr 
		
//link
.link-item
	font-size .8rem
	border-radius 10px
	
.link-item a	
	&:hover
		color $hover-clr