.tag a
    @extend $tags    
    font-size: .5em
    line-height: 24px  
.small-tag a
    @extend $tags  
    font-size: .9em
    line-height: 24px
   
.tag a:hover , .small-tag a:hover 
    color $hover-clr
    border 1px solid $hover-clr
    

