.tag a
    @extend $tags    
    font-size: .5em
    line-height: 24px  
.small-tag a
    @extend $tags  
    font-size: .9em
    line-height: 24px
   
.tag a:hover , .small-tag a:hover 
    color $hover-clr
    border 1px solid $hover-clr    


.tag-wrap	
	display inline-block
	padding .3em
	margin .2em .3em	
.tag-link	
	font-size 1.1rem		


.tag-wrap-line
	border 1px solid $gray
	padding .4em
	margin .2em
	border-radius 999em