.tag a{
    @extend $tags    
    font-size: .5em
}
.small-tag a{
    @extend $tags  
    font-size: .9em
}

.tag a:hover , .small-tag a:hover {
    color: $hover-clr;
    border: 1.2px solid $hover-clr;
}
